<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JobBroswer.Properties.Settings.holdenengrConnectionString" connectionString="server=192.168.2.205;user id=holden;password=Dumloquorhorafugit;database=holdenengr;convertzerodatetime=True;persistsecurityinfo=True" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
